<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Account</title>
</head>
<body>
<h2 style="text-align: center">Thank you for signing up KWILL</h2><br><br>
<hr>
<p>Hello, <b>{{fullName}}</b></p>
<br>
<p>Thank you for registering with KWILL</p>
<p>Please confirm your email address to continue setup. If you received this by mistake or weren't expecting it, please disregard this email.</p>
<br>
<p>Code Verify: <b style="background: bisque; color: white; padding: 5px 5px; border-radius: 5px">{{code}}</b></p>
<br><br>
<hr>
<footer>
    <p><b>{{name_company}}</b></p>
    <p>Address: {{address_company}} <p>
    <p>PhoneNumber: {{phone_company}}</p>
    <p>Website: <a href={{website_company}}>{{website_company}}</a>.</p>
    <p>Support: <a href={{support_company}}>{{support_company}}</a></p>
</footer>
</body>
</html>
